body{
  margin: 0;
  width: 100%;
}

.header{
  width: 100%;
  height:626px;
  background-color: #404eed;
}

.cloud{
position: absolute;
margin-left: 0px;

}

.left{
position: absolute;
float: left;
margin-left: 0px;
margin-top: 274px;
}

.right{
position: absolute;
float: right;
margin-left: 1127px;
margin-top: 266px;

}

.logo{
position: absolute;
float: right;
margin-left: 170px;
margin-top: 27px;
height: 24px;
}

.list{
  position: absolute;
  list-style: none;
  display: flex;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family:'font1';
  cursor: pointer;
  margin-top: 30px;
  margin-left: 398px;
}

.list li{
  margin-left: 33px;
}

.log-in{
  font-family:'font1' ;
  border: none;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 400;
  height: 38px;
  width: 64.9875px;
  float: right;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 167px;
  transition: color 0.2s,
  box-shadow 0.2s;
}

.log-in:hover{
  color:#5865F2 ;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.heading{
  font-family:'font2';
  font-size:56px ;
  font-weight:800;
  color: white;
  position: absolute;
  margin-top: 188px;
  margin-left: 350px;
  width: 780px;
  height: 53.2px;
  text-align: center;
}

.subheading{
  font-family:'font1';
  font-size: 20px;
  color: white;
  position: absolute;
  margin-top: 309px;
  margin-left: 350px;
  height: 97.5px;
  width: 780px;
  word-spacing: 0px;
  text-align: center;
}


.download{
font-family: 'font1';
font-size: 20px;
font-weight: 500;
height: 56px;
width: 293.087px;
border: none;
border-radius: 28px;
cursor: pointer;
margin-top: 422px;
margin-left: 442px;
position: absolute;
transition: color 0.2s,
box-shadow 0.2s;

}

.download:hover{
  color:#5865F2 ;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.download img{
  height:25px;
  width:20px;
}


.open{
font-family:'font1';
font-size: 20px;
font-weight: 500;
height: 56px;
width: 293.087px;
border: none;
border-radius: 28px;
cursor: pointer;
background-color:  #23272A;
color: #FFFFFF;
margin-top: 422px;
margin-left: 759px;
position: absolute;
transition: color 0.2s,
box-shadow 0.2s;
}

.open:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  opacity: 0.2s;
}


.grid1{
  height: 680px;
  width: 100%;
  background-color:#ffff;

}

.grid1 img{
  height: 440px;
  width: 678px;
  margin-top: 122px;
  margin-left: 175px;
  float: left;
}

#heading1{
  font-family: 'font1';
  font-size: 48px;
  font-weight: 900;
  color: #23272A;
  float: right;
  margin-top: 166px;
  margin-right: 166px;
  line-height: 60px;
}

.grid1 p{
  font-family: 'font1';
  font-size: 20px;
  color:#23272A;
  float: right;
  margin-top: 0px;  
  margin-right: 142px;
  text-decoration: none;
  line-height: 30px;
}

.grid2{
  height: 680px;
  width: 100%;
  background-color: #f6f6f6;
}

.grid2 img{
  height: 440px;
  width: 678px;
  margin-top: 122px;
  margin-right: 174px;
  float: right;
}

#heading2{
  font-family: 'font1';
  font-size: 48px;
  font-weight: 900;
  color: #23272A;
  float: left;
  margin-top: 212px;
  margin-left: 185px;
  line-height: 60px;
}

.grid2 p{
  font-family: 'font1';
  font-size: 20px;
  color:#23272A;
  float: left;
  margin-top: -22px;
  margin-left: 190px;
  line-height: 30px;
  text-decoration: none;
}

.grid3{
  height: 680px;
  width: 100%;
  background-color:#ffff;
}

.grid3 img{
  height: 440px;
  width: 678px;
  margin-top: 122px;
  margin-left: 168px;
  float: left;
}

#heading3{
  font-family: 'font1';
  font-size: 48px;
  font-weight: 900;
  color: #23272A;
  float: left;
  margin-top: -327px;
  margin-left: 995px;
  line-height: 60px;
}

.grid3 p{
  font-family: 'font1';
  font-size: 20px;
  color:#23272A;
  float: left;
  margin-top: -180px;  
  margin-left: 1000px;
  text-decoration: none;
  line-height: 30px;
}

.grid4{
  height: 1058.55px;
  width: 100%;
  background-color: #f6f6f6;
}

.grid4 img{
  height: 715.55px;
  width: 1180px;
  margin-left: 170px;
  margin-top: 261px;
}

#heading4{
  font-family: 'font2';
  font-size: 40px;
  font-weight: 800;
  color: #23272A;
  margin-top: -862px;
  margin-left: 264px;
  height: 38px;
  width: 980px;
}

.grid4 p{
  font-family: 'font1';
  font-size: 20px;
  color:#23272A;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
}

.grid5{
  height: 284.4px;
  width:100%;
  background-color: #f6f6f6;
}

.grid5 img{
  margin-left: 500px;
  margin-top: -2px;
  height: 49px;
  width: 531px;
}

.grid5 p{
  font-family: 'font1';
  font-size: 32px;
  font-weight: 900;
  color: #23272A;
  margin-left: 572px;
  margin-top: -33px;
}

#button3{
font-family: 'font1';
font-size: 20px;
font-weight: 500;
line-height: 24px;
height: 56px;
width: 293.087px;
border: none;
border-radius: 28px;
cursor: pointer;
margin-top: 10px;
margin-left: 610px;
position: absolute;
color: #ffff;
background-color:#5865F2;
border-color: #5865F2;
}

#button3 img{
  height:24px ;
  width: 24px;
  margin-top: -17px;
  margin-left: 7px;
  color: #ffff;
}

.footer{
  height: 610px;
  width: 100%;
  background-color: #23272A;
}

.first{
  height: 340px;
  width: 30%;
  cursor: pointer;
 

}

.first1{
  height: 18px;
  width: 280px;
  padding-top: 100px;
  padding-left: 100px;
  display: flex;
}

#image{
  height: 16px;
  width: 24px;
  margin-left: 60px;
}
#select{
  font-family: 'font1';
  font-size: 14px;
  height: 18px;
  width: 75.275px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: -2px;
  margin-left: 10px;
}

#arrow{
  height: 14px;
  width: 12px;
}
.first2{
  height: 24px;
  display: flex;
  flex-direction: row;

}

.app-logo{
  margin-top: 47px;
  margin-left: 30px;
  padding-left: 96px;
}

.app-logo li{
  list-style: none;
  display: inline;
  margin-left: 30px;
}
.app-logo img{
  height: 20px;
  width: 20px;
}


.second{
  height: 356px;
  width: 17.5%;
  display: list-item;
  padding-left: 551px;
  margin-top: -276px;
}

.second1{
  color: #5865F2;
  font-family: 'font1';
  font-size: 16px;
  margin-left: 40px;

}

.second2 li{
  color: #FFFFFF;
  font-family: 'font1';
  font-size: 16px;
  list-style: none;
  cursor: pointer;
  margin-top: 10px;
}

.third{
  height: 356px;
  width: 17.5%;
  display: list-item;
  padding-left: 765px;
  margin-top: -372px;
}

.third1{
  color: #5865F2;
  font-family: 'font1';
  font-size: 16px;
  margin-left: 40px;
}

.third2 li{
  color: #FFFFFF;
  font-family: 'font1';
  font-size: 16px;
  list-style: none;
  cursor: pointer;
  margin-top: 10px;
}

.fourth{
  height: 356px;
  width: 17.5%;
  display: list-item;
  padding-left: 959px;
  margin-top: -372px;
}

.fourth1{
  color: #5865F2;
  font-family: 'font1';
  font-size: 16px;
  margin-left: 40px;
}

.fourth2 li{
  color: #FFFFFF;
  font-family: 'font1';
  font-size: 16px;
  list-style: none;
  cursor: pointer;
  margin-top: 10px;
}

.fifth{
  height: 356px;
  width: 17.5%;
  display: list-item;
  padding-left: 1181px;
  margin-top: -372px;
}

.fifth1{
  color: #5865F2;
  font-family: 'font1';
  font-size: 16px;
  margin-left: 40px;
}

.fifth2 li{
  color: #FFFFFF;
  font-family: 'font1';
  font-size: 16px;
  list-style: none;
  cursor: pointer;
  margin-top: 10px;
}

.sixth{
  height: 1px;
  width: 1180px;
  background-color:#5865F2 ;
  margin-left: 146px;
  margin-top: 29px;
}

.seventh img{
  position: absolute;
  float: right;
  margin-left: 146px;
  margin-top: 27px;
  height: 24px;
}

.seventh button{
  font-family:'font1' ;
  border: none;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  width: 76.1875px;
  float: right;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 190px;
  background-color: #5865F2;
  color: #FFFFFF;
}

.seventh button:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  opacity: 0.2s;
}

